
/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
  }
  /* inherit border-box on all elements in the universe and before and after
   */
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'DM Sans', serif;
    margin: 0;
    padding: 0;
  }
  h1, h3 {
text-align: center;  
}
  h1 {
    font-size: 64px;
}
h3 {
    color: #211D1D;
    font-size: 18px;
    font-weight: 100;
}
h3 .highlight {
    color: #32BBA4;
    font-weight: 700;
}
.container {
    margin: 0 auto;
	float: none;
}

.row:first-child {
    background: url('../images/Mask Group 1.png'), #F9FFF2;
    height: 500px;
}

.navigation-bar {
    width: 70%;  
    margin: 0 auto;
}
.pricing-text {
    margin: 0 auto;
    max-width: 32%;
}

nav * {
    cursor: pointer;
}
nav .logo {
    float: left;
    clear: right;
}
nav button {
    background-color: #410FF8;
    padding: 8px 25px;
    color: white;
    font: inherit;
    border: 0;
    outline: none;
    font-weight: 700;
    size: 18px;
    border-radius: 5px;
}

nav button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
nav a{
    text-decoration: none;
    color: #8E8E8E;
}

.nav-right {
    float: right;
    /* clear: both; */
}

.nav-right a, .nav-right button {
    margin-left: 20px;
}